.container #chat {
    position: relative;
}
#app{
    right: 0px;
    left: auto;
    border: 15px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    position: fixed;
    bottom: 10px;
    top: auto;
    z-index: 9999;
    transition: all 0.2s linear 0s;
    height: 420px;
    width: 330px;
    background-color:#fff;
}
#tieude{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height:40px;
    width:330px;
    background-color:#FF33FF;
}

#tieude p{
     padding-left:10px;
     padding-top:10px;
     color:white;
     font-size:16px;
     font-style: boild;
}

#inputchat{
    marin-top:20px;
    left:0px;
    width:100%;
    height:50px;
}

#inputchat input{
    width: 100%;
    height:100%;
    padding:5px;
    left:0px;
    background-color:#fff;
    color:#000;
}

#bodychat{
    height:320px;
    overflow-y: auto;
    scrollTop :10px;

}
